body {
	font: 15px/1.5 Candara;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

header {
	background-color: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e00d21 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
}

header ul {
	margin: 0;
	padding: 0;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #title{
	float: left;
}

header #title h1{
	margin: 0;
}
header nav {
	float: right;
	margin-top: 10px;
}

header a:hover{
	color: #e00d21;
	font-weight: bold;
	
} 
.pictures{
	min-height: 400px;
	background: url("../images/showcase.jpg") no-repeat 0 -400px;
	background-position: center;
	border-bottom: #e00d21 3px solid;
}

.search{
	background-color: #35424a;
	padding: 15px;
	color: #ffffff;	
}



